/* Write your code here. */

@media (max-width: 575px) {
  #root {
    background-color: #ffffff;
    height: 100vh;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading {
    color: #0f172a;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
  }

  .notification {
    display: flex;
    margin-bottom: 20px;
  }
  .first {
    background-color: #0b69ff;
    border-radius: 3px;
    padding: 6px;
  }

  .second {
    background-color: #2dca73;
    border-radius: 3px;
    padding: 6px;
  }

  .third {
    background-color: #ffb800;
    border-radius: 3px;
    padding: 6px;
  }

  .fourth {
    background-color: #ff0b37;
    border-radius: 3px;
    padding: 6px;
  }

  .image {
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 8px;
  }
  .paragraph {
    color: #ffffff;
    font-size: 14px;
    margin-left: 12px;
  }
}

@media (min-width: 576px) {
  #root {
    background-color: #ffffff;
    height: 100vh;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading {
    color: #0f172a;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
  }

  .notification {
    display: flex;
    margin-bottom: 20px;
  }
  .first {
    background-color: #0b69ff;
    border-radius: 3px;
    padding: 6px;
  }

  .second {
    background-color: #2dca73;
    border-radius: 3px;
    padding: 6px;
  }

  .third {
    background-color: #ffb800;
    border-radius: 3px;
    padding: 6px;
  }

  .fourth {
    background-color: #ff0b37;
    border-radius: 3px;
    padding: 6px;
  }

  .image {
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 8px;
  }
  .paragraph {
    color: #ffffff;
    font-size: 14px;
    margin-left: 12px;
  }
}
